[submodule "FdF"]
	path = FdF
	url = git@github.com:stepskop/fdf.git
[submodule "minishell"]
	path = minishell
	url = git@github.com:stepskop/minishell.git
[submodule "Libft"]
	path = Libft
	url = git@github.com:stepskop/libft.git
